<form [formGroup]="cursoForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Formulário Curso</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput [(ngModel)]="curso.descricao" placeholder="Descrição" formControlName="descricao">
                        <mat-error *ngIf="cursoForm.controls['descricao'].hasError('required')">
                            Categoria é <strong>Obrigatório</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select [(ngModel)]="curso.codCategoria" placeholder="Categoria" formControlName="categoria">
                            <mat-option *ngFor="let categoria of categorias" [value]="categoria.codigo">
                                {{ categoria.descricao }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="cursoForm.controls['categoria'].hasError('required')">
                            Categoria é <strong>Obrigatório</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Período do curso</mat-label>
                        <mat-date-range-input [rangePicker]="rangePicker">
                            <input matStartDate placeholder="Data Inicio" [(ngModel)]="curso.dtInicio" formControlName="dtInicio">
                            <input matEndDate placeholder="Data Fim" [(ngModel)]="curso.dtFim" formControlName="dtFim">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                        <mat-date-range-picker #rangePicker>
                            <mat-date-range-picker-actions>
                                <button mat-button matDateRangePickerCancel>Cancelar</button>
                                <button mat-raised-button color="primary" matDateRangePickerApply>Aplicar</button>
                            </mat-date-range-picker-actions>
                        </mat-date-range-picker>
                        <mat-error *ngIf="cursoForm.controls['dtInicio'].hasError('required')">
                            A data de inicio é <strong>Obrigatório</strong>
                        </mat-error>
                        <mat-error *ngIf="cursoForm.controls['dtFim'].hasError('required')">
                            A data de fim é <strong>Obrigatório</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput type="number" [(ngModel)]="curso.qtdAlunos" placeholder="Quantidade de Alunos" formControlName="qtdAlunos">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Enviar</button>
            <button mat-raised-button (click)="voltar()">Voltar</button>
        </mat-card-actions>
    </mat-card>
</form>